.chat {
    display: none;
    width: 100%;
    height: calc(100% - 46px);
    flex-direction: column;

    background: black;

    box-sizing: border-box;
    border: 3px solid rgb(211, 56, 0);
    border-radius: 5px;
}

.chat.active {
    display: flex;
}

/* History Styling */
.history-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
}

.history .group {
    color: rgb(219, 219, 219);
}

.history .group:nth-child(odd) {
    background: rgba(255, 255, 255, 0.1);
}

.history .group:nth-child(even) {
    background: rgba(255, 255, 255, 0.05);
}

.group .author {
    padding: 5px 8px;
}

.group:nth-child(odd) .author {
    color: orangered;
}

.group:nth-child(even) .author {
    color: rgb(175, 0, 175);
}

.group .messages {
    margin-left: 10px;
}

.group .messages .message {
    padding: 5px 10px;
    font-size: 18px;
}

/* Bottom Styling */
.chat .bottom {
    display: flex;
}

.bottom input {
    flex-grow: 1;
    padding: 5px;

    background: rgb(8, 8, 8);
    color: white;
    outline: none;

    box-sizing: border-box;
    border: none;
    border-top: 1px solid rgb(58, 58, 58);
}

.bottom button {
    padding: 5px;
    cursor: pointer;

    color: rgb(189, 189, 189);
    background: rgb(10, 10, 10);

    border: 0 solid rgb(58, 58, 58);
    border-left-width: 1px;
    border-top-width: 1px;
}

.bottom button:hover {
    background: rgb(32, 32, 32);
}