.terminal {
    display: none;
    height: calc(100% - 46px);
    width: 100%;

    background: black;
    color: green;

    box-sizing: border-box;
    border: 3px solid green;
    border-radius: 5px;
}

.terminal.active {
    display: flex;
}

.lines-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    padding: 10px;
}

.line {
    margin: 3px 0;
}

.name {
    color: rgb(209, 92, 37);
}

.location:before {
    content: '@';
    color: green;
}

.location {
    color: rgb(180, 180, 180);
}

.event:before {
    content: '\00a0';
}

.command {
    position: relative;
}

.command:before {
    content: ':\00a0';
}

.line.active .command:after { 
    display: inline-block;
    position: absolute;
    bottom: 0;
    width: 8px;
    height: 2px;
    margin-left: 2px;

    content: '';

    background: rgb(0, 206, 0);
    opacity: 1;
    animation: blink 2s linear infinite alternate;
}

@keyframes blink {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}