.terminal {
    display: none;
    height: calc(100% - 46px);
    width: 100%;

    background: black;
    color: green;

    box-sizing: border-box;
    border: 3px solid green;
    border-radius:10px;
}

.terminal.active {
    display: flex;
}

.lines-wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    padding: 10px;
}

.line {
    display: flex;
    margin: 3px 0;
    width: 100%;
}

.name {
    color: rgb(209, 92, 37);
}

.location:before {
    content: '@';
    color: green;
}

.location {
    color: rgb(180, 180, 180);
}

.command-line .location:after {
    content: ':';
    color: green;
}

.path {
    color: rgb(209, 92, 37);
}

.path:after {
    content: '$';
    color: green;
}

.command {
    flex-grow: 1;
    background: none;
    border: none;
    outline: none;
    color: green;
    margin: 0 5px;
}

.command::selection {
    background: green;
    color: rgb(195, 195, 195);
}